/* Start portfolio css
=======================================*/
.portfolio{
}
.portfolio_fillter{
    margin-bottom: 40px;
    li{
        display: inline-block;
        margin-right: 35px;
        a{
            font: 500 16px/26px $pop;
            color: #242424;
            border-bottom: 1px solid transparent;
            &:hover{
                border-color: $bcolor;
                color: $bcolor;
            }
        }
        &.active{
            a{
                border-color: $bcolor;
                color: $bcolor;
            }
        }
    }
}

.portfolio_gallery{
    .portfolio_item{
        margin-bottom: 20px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        .image_b{
            position: relative;
            display: block;
            &:before{
                content: "";
                top: 0;
                left: 50%;
                width: 0;
                z-index: 1;
                opacity: 0;
                height: 100%;
                position: absolute;
                background: #089cd6;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
            }
            &:after{
                width: 100%;
                top: 50%;
                height: 0;
                content: "";
                background: #089cd6;
                opacity: 0;
                -o-transition: all 0.5s ease;
                transition: all 0.5s ease;
                -webkit-transition: all 0.5s ease;
                -ms-transition: all 0.5s ease;
                -moz-transition: all 0.5s ease;
                position: absolute;
                z-index: 1;
                left: 0;
            }
        }
        .light{
            position: absolute;
            top: 30px;
            right: 30px;
            z-index: 2;
            opacity: 0;
            transition: all .5s ease-out;
            i{
                &:before{
                    font-size: 20px;
                    color: #fff;
                    margin-left: 0px;
                }
            }
        }
        .view_btn{
            position: absolute;
            bottom: 20px;
            left: 30px;
            display: inline-block;
            font: 400 16px/20px $pop;
            color: #fff;
            z-index: 2;
            border-bottom: 1px solid #fff;
            transform: translateX(-20%);
            transition: all .5s ease-out;
            opacity: 0;
        }
        img{
            max-width: 100%;
            transition: all .3s ease-out;
            z-index: -1;
        }
        &:hover{
            .image_b{
                &:before{
                    left: 0;
                    opacity: 0.46;
                    width: 100%;
                }
                &:after{
                    top: 0;
                    height: 100%;
                    opacity: 0.46;
                }
            }
            .view_btn{
                transform: translateX(0);
                opacity: 1;
            }
            .light{
                opacity: 1;
            }
            img{
                transform: scale(1.05) translateZ(0);
            }
        }
    }
}