<!--Start personal_porfolio-->
<div class="main-container">
  <section class="personal_porfolio wrapper">
    <div class="container custom_container align-self-center fadeInOnLoad">
      <div class="main_box animation_bottom">
        <div id="boxscroll" class="p_home">
          <div class="por_details section_pad">
            <div class="portfolio">
              <div class="main_title">
                <h2>Code @ Github</h2>
              </div>
              <div class="row">
                <div class="col-md-4">
                  <div class="blog_post">
                    <a href="https://firebasestorage.googleapis.com/v0/b/my-crypto-bb7f8.appspot.com/o/ionic-my-crypto.gif?alt=media&token=cd0e29f2-9da6-4112-907b-d8c7d9038ca7" class="lightBoxVideoLink post_img image_b"><img src="../assets/image/apps/my_crypto_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5><a href="https://mycrypto.antoniocunanan.com"> <i class="fa fa-link" aria-hidden="true"></i></a> Cryptocurrency Portfolio </h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://github.com/kimonio/ionic-my-crypto">https://github.com/kimonio/ionic-my-crypto</a></li>
                      </ul>
                      <p>
                        <span><span class="large-bullet">◦</span> Track 1600+ different cryptocurrencies and access the latest crypto related news with data being fed by CoinMarketCap API.<br></span>
                        <span><span class="large-bullet">◦</span> Uses local storage so your data is never shared with the public.<br></span>
                        <span><span class="large-bullet">◦</span> Pull to refresh functionality.<br></span>
                        <span><span class="large-bullet">◦</span> Deployed securely using Google firebase hosting.<br></span>
                        <span><span class="large-bullet">◦</span> Animations by Animate.css and GreenSock GSAP libraries. <br></span>
                        <span><span class="large-bullet">◦</span> Developed in Typescript using Angular & Ionic 3 frameworks. <br></span>
                        <span><span class="large-bullet">◦</span> <a href="https://mycrypto.antoniocunanan.com"> Live Preview <i class="fa fa-link" aria-hidden="true"></i></a> <br></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog_post">
                    <a href="https://firebasestorage.googleapis.com/v0/b/newspapers-240de.appspot.com/o/ionic-newspapers.gif?alt=media&token=db1b7313-0148-49af-9a09-90346525e537" class="lightBoxVideoLink post_img image_b"><img src="../assets/image/apps/newspapers_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5><a href="https://newspapers.antoniocunanan.com"> <i class="fa fa-link" aria-hidden="true"></i></a> Newspapers of the World </h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://github.com/kimonio/ionic-newspapers">https://github.com/kimonio/ionic-newspapers</a></li>
                      </ul>
                      <p>
                        <span><span class="large-bullet">◦</span> Search, save and view over 13000+ newspapers from all over the world.<br></span>
                        <span><span class="large-bullet">◦</span> Deployed securely using Google firebase hosting.<br></span>
                        <span><span class="large-bullet">◦</span> Animations by Animate.css. <br></span>
                        <span><span class="large-bullet">◦</span> Data is stored using local storage.<br></span>
                        <span><span class="large-bullet">◦</span> Developed in Typescript using Angular & Ionic 3 frameworks. <br></span>
                        <span><span class="large-bullet">◦</span> <a href="https://newspapers.antoniocunanan.com"> Live Preview <i class="fa fa-link" aria-hidden="true"></i></a> <br></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="blog_post">
                    <a href="https://firebasestorage.googleapis.com/v0/b/quotes-4b4e6.appspot.com/o/ionic-quotes.gif?alt=media&token=1c277c9d-eba1-4b79-80e6-7c92b625a45b" class="lightBoxVideoLink post_img image_b"><img src="../assets/image/apps/quotes_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5><a href="https://quotes.antoniocunanan.com"> <i class="fa fa-link" aria-hidden="true"></i></a> Inspirational Quotes </h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://github.com/kimonio/ionic-my-crypto">https://github.com/kimonio/ionic-quotes</a></li>
                      </ul>
                      <p>
                        <span><span class="large-bullet">◦</span> Read and share over 50 inspirational quotes.<br></span>
                        <span><span class="large-bullet">◦</span> Share quotes via facebook, twitter, reddit and email.<br></span>
                        <span><span class="large-bullet">◦</span> Save your favorite quotes.<br></span>
                        <span><span class="large-bullet">◦</span> Search for quotes based on keyword or author.<br></span>
                        <span><span class="large-bullet">◦</span> Deployed securely using Google firebase hosting.<br></span>
                        <span><span class="large-bullet">◦</span> Animations by Animate.css library.<br></span>
                        <span><span class="large-bullet">◦</span> Developed in Typescript using Angular & Ionic 3 frameworks. <br></span>
                        <span><span class="large-bullet">◦</span> <a href="https://quotes.antoniocunanan.com"> Live Preview <i class="fa fa-link" aria-hidden="true"></i></a> <br></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
