
.animation_bottom.edgtf-appeared {
  padding-bottom: 0;
}

.por_details {
  padding: 0;
}

.right_site {
  width: calc(50% + 170px);
  float: right;
}

@media (max-width: 1550px) {
  .mapBox1 {
    min-height: calc(100vh - 60px);
  }
}

.mapBox1 {
  min-height: calc(100vh - 230px);
}

.p_home {
  height: 75%;
}

