@media (max-width:1550px){
    .por_details {
        padding: 0px 30px;
    }
    .content_area{
        padding-left: 70px;
    }
    .personal_content .p_t{
        font-size: 35px;
    }
    .personal_content h3{
        font-size: 22px;
        padding-top: 5px;
        padding-bottom: 22px;
        margin-bottom: 22px;
    }
    .p_home{
        height: calc(100vh - 260px);
    }
    .navbar .navbar-brand {
        padding-top: 15px;
        padding-bottom: 15px;
    }
    .footer_area{
        padding: 23px 0px 30px;
    }
    .blog_inner_content {
        padding: 44px 60px;
    }
    .two_column_sample .two_column_item:last-child {
        margin-left: 20px;
    }
    .mapBox1 {
        min-height: calc(100vh - 60px);
    }
    .profile_img_two h2{
        font-size: 40px;
    }
    .profile_img_two .personal{
        height: 270px;
        width: 270px;
    }
    .p_home .profile_img_four {
        padding-top: 0px;
    }
}
@media (max-width:1199px){
    .navbar .navbar-nav .nav-item + .nav-item {
        margin-left: 11px;
    }
    .social-icon li {
        margin-left: 7px;
    }
    .left_site,.background .b_left{
        width: calc(50% - 140px);
    }
    .right_site,.background .b_right{
        width: calc(50% + 140px);
    }
    .content_area {
        padding-left: 40px;
    }
    .edu_timeline li{
        padding: 25px;
    }
    .interest{
        padding-bottom: 0px
    }
    .expert_area {
        padding-bottom: 20px;
    }
    .interest_info .interest_item {
        margin-bottom: 20px;
    }
    .two_column_sample .two_column_item {
        max-width: 360px;
    }
    .s_comment_list_inner .media {
        padding: 25px 30px 20px 25px;
    }
}
@media screen and (min-width:1024px) and (max-width:1198px){
    .display-flex{
        display: flex;
    }
    .flex{
        flex: 1;
        align-self: center;
        vertical-align: middle;
    }
}

@media (max-width:991px){
    .social-icon{
        display: none;
    }
    .navbar .navbar-nav .nav-item.submenu .dropdown-menu{
        border: 0px;
    }
    .menuEffect .navbar .navbar-nav .nav-item {
        visibility: visible;
    }
    .navbar-expand-lg > .container{
        padding: 0px 15px;
    }
    .main-container{
        height: 100%;
        padding: 170px 0px 100px;
    }
    .p_home{
        height: 100%;
    }
    .header{
        background: url("../image/left-bg-texture.jpg") no-repeat scroll center 0 / cover;  
    }
    .background{
        display: none;
    }
    .footer_area{
        position: relative;
        bottom: inherit;
        left: inherit;
        background: url("../image/left-bg-texture.jpg") no-repeat scroll center 0 / cover;
        padding: 28px 0px 28px;
    }
    .left_site,.right_site{
        width: 100%;
        float: none;
        display: block;
    }
    .content_area {
        padding-left: 0px;
        padding-top: 60px;
        padding-right: 0px;
    }
    .p_home .profile_img img{
        width: 100%;
    }
    .navbar-expand-lg > .container{
        display: block;
    }
    .testimonial_slider .testimonial_item{
        padding: 30px 20px 45px 20px;
    }
    .testimonial_slider .testimonial_item .client_img{
        margin-right: 15px;
    }
    .accordian_tab .tab-content{
        padding: 60px 20px 30px 20px;
    }
    .accordian_tab .tab-content .tab-pane .media .media-body{
        padding-right: 0;
    }
    .accordian_tab .tab-content .tab-pane .media .media-body h4{
        padding-top: 0px;
    }
    .navbar-collapse{
        margin: 0px -15px;
        background: #fff;
    }
    .navbar .navbar-nav{
        padding: 0px 15px;
    }
    .navbar .navbar-nav .nav-item + .nav-item{
        margin: 0px;
    }
    .navbar .navbar-brand img{
        max-width: 80%;
    }
    .profile_img_four{
        display: inline-block;
    }
    .profile_img_four{
        padding-top: 0px;
    }
    .footer_area_two .c_right_col{
        text-align: right;
    }
    .footer_area_two .c_right_col .social-icon{
        display: inline-block;
    }
    .footer_area_two .social-icon li a{
        color: #fff;
    }
    .navbar .navbar-nav.burger_icon{
        display: none !important;
    }
    .navbar .navbar-nav{
        display: block !important;
    }
    .navbar .navbar-nav .nav-item {
        display: block !important;
        text-align: left;
    }
    .menuEffect .navbar .navbar-nav .nav-item .nav-link{
        opacity: 1;
        visibility: visible;
    }
    .navbar_two .navbar-nav .nav-item .nav-link {
        color: #000;
    }
    .navbar_two .navbar-nav .nav-item .nav-link:hover,.navbar_two .navbar-nav .nav-item.active .nav-link{
        color: #50c6f2;
    }
    .blog_inner_content {
        padding: 44px 30px;
    }
    .two_column_sample .two_column_item {
        max-width: 275px;
    }
    .s_main_text {
        padding: 50px 0px 0px 0px;
    }
    .accordian_tab .tab-content .tab-pane .media{
        display: block;
    }
    .accordian_tab .tab-content .tab-pane .media .ex_img{
        margin-left: 0px !important;
        margin-top: 40px;
    }
    .accordian_tab .tab-content {
        padding: 60px 20px 60px 20px;
    }
    .expert_area {
        padding-bottom: 0px;
    }
}
@media (max-width:767px){
    .sec_pad_l {
        padding-left: 15px;
        padding-top: 50px;
    }
    .sec_pad_r{
        padding-right: 15px;
    }
    .interest_info .interest_item {
        width: calc(100% / 3);
    }
    .accordian_tab .tab_menu{
        display: block;
        text-align: center;
    }
    .accordian_tab .tab_menu .nav-item{
        display: inline-block;
        margin-left: 0px;
    }
    .accordian_tab .tab_menu .nav-item .nav-link{
        padding: 11px 15px;
        font-size: 13px;
    }
    .portfolio_fillter li{
        margin-right: 10px;
    }
    .blog_post .post_img img{
        width: 100%;
    }
    .next_pages{
        padding-bottom: 0px;
    }
    .blog_inner_content {
        padding: 44px 0px;
    }
    .two_column_sample .two_column_item{
        max-width: 100%;
    }
    .two_column_sample .two_column_item:last-child{
        margin-left: 0px;
        margin-top: 10px;
    }
    .s_comment_list_inner .media {
        padding: 25px 25px 20px 25px;
    }
    .s_comment_list_inner .media .media-body {
        padding-left: 15px;
    }
}

@media (max-width:576px){
    .interest_info .interest_item {
        width: calc(100% / 2);
    }
    .interest_info .interest_item:last-child{
        margin-bottom: 0px;
    }
    .accordian_tab .tab-content .tab-pane .media .ex_img{
        max-width: 100%;
        width: 100%;
    }
    .portfolio_gallery .portfolio_item img{
        width: 100%;
    }
    .portfolio_fillter li{
        margin-bottom: 10px;
    }
    .portfolio_fillter li a{
        font-size: 12px;
        line-height: 20px;
    }
    .wrapper{
        display: block;
    }
    .main-container .align-self-center{
        align-self: inherit !important;
    }
    .profile_img_two .personal{
        width: 180px;
        height: 180px;
    }
    .personal_content_two.personal_content .p_t {
        font-size: 27px;
    }
    .profile_img_four .personal img {
        box-shadow: 0px 0px 15px 4px rgba(40, 40, 40, 0.27);
    }
    .post_meta li{
        font-size: 14px;
        margin-right: 10px;
    }
    .post_meta li:last-child{
        margin-right: 0px;
    }
    .post_meta li a::before{
        right: -10px;
    }
    .main_box{
        box-shadow: none;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .main-container {
        padding: 130px 0px 60px;
    }
    .por_details {
        padding: 0px;
    }
}
@media (max-width:480px){
    .main-container {
        padding-top: 120px;
    }
    .personal_content .personal-info-list li .title {
        min-width: 110px;
    }
    .edu_timeline::before{
        left: 7px;
    }
    .edu_timeline li::before{
        left: -30px;
    }
    .edu_timeline li {
        padding: 25px 20px;
    }
    .edu_timeline li .timeline_content p{
        font-size: 14px;
        line-height: 25px;
    }
    .accordian_tab .tab_menu .nav-item{
        display: block;
    }
    .main_title_two h2,.main_title h2{
        font-weight: 600;
        font-size: 26px;
    }
    .main_title_two h2:after,.main_title h2:after{
        margin-left: 5px;
    }
    .accordian_tab .tab-content {
        padding: 60px 10px 60px 10px;
    }
    .navbar .navbar-brand img{
        max-width: 60%;
    }
    .navbar-light .navbar-toggler{
        top: 16px;
    }
    .blog_inner_content{
        padding-bottom: 0px;
    }
    .s_comment_area .s_comment_inner {
        padding: 30px 15px 30px 15px;
    }
    .blog_inner_content .blog_text p,.two_column_sample .two_column_item p,.s_main_text p{
        font-size: 16px;
        line-height: 26px;
    }
}

@media (max-width:414px){
    .main_title_two h2:after,.main_title h2:after{
        display: none;
    }
    .testimonial_slider .testimonial_item .media{
        display: block;
    }
    .testimonial_slider .testimonial_item .client_img{
        display: inline-block;
        margin-bottom: 30px;
    }
    .testimonial_slider .testimonial_item .client_img img{
        width: auto;
    }
    .blog_post .blog_content .post_meta li{
        font-size: 13px;
        margin-right: 10px;
    }
    .blog_post .blog_content .post_meta li:last-child{
        margin-right: 0px;
    }
    .blog_post .blog_content .post_meta li a::before{
        right: -10px;
    }
    .footer_area_two{
        display: block;
        text-align: center;
    }
    .footer_area_two .c_left_col{
        float: none;
    }
    .footer_area_two .c_right_col{
        text-align: center;
    }
    .s_comment_list_inner .media{
        display: block;
    }
    .s_comment_list_inner .media .media-body{
        padding-left: 0px;
        padding-top:  20px;
    }
    .post_meta li {
        line-height: 20px;
    }
}
