<!--Start personal_porfolio-->
<div class="main-container">
  <section class="personal_porfolio wrapper">
    <div class="container custom_container align-self-center fadeInOnLoad">
      <div class="main_box animation_bottom">
        <div id="boxscroll" class="p_home">
          <div class="por_details section_pad">
            <div class="portfolio">
              <div class="main_title">
                <h2>Portfolio</h2>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="blog_post">
                    <a href="https://www.youtube.com/embed/YcpnJwiqw9o?autoplay=true" class="lightBoxVideoLink post_img image_b"><img src="../assets/image/apps/fr_mobile_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5>Mobile App for Fun Rewards</h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://funrewards.com">https://funrewards.com</a></li>
                      </ul>
                      <p>
                        <span>• Developed in Javascript using Ionic 3 & Angular 4 frameworks.<br></span>
                        <span>• Email based authentication implemented using Firebase.<br></span>
                        <span>• Scratch and win game developed using HTML5 Canvas and event handling for various touch events.<br></span>
                        <span>• Push notifications integrated using One Signal API.<br></span>
                        <span>• Customer actions are recorded through a REST API built with NodeJS and the Express framework.<br></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="blog_post">
                    <a href="../assets/image/apps/merchant_img_large.png" class="post_img image_b light_popup"><img src="../assets/image/apps/merchant_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5>Merchant Portal for Fun Rewards</h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://funrewards.com">https://funrewards.com</a></li>
                      </ul>
                      <p>
                        <span>• Merchant portal developed in Javascript using Firebase, NodeJS and MongoDB on the backend.<br></span>
                        <span>• Charts for analytics developed using Chartist.JS.<br></span>
                        <span>• Analytics performed using MongoDB Aggregation framework.<br></span>
                        <span>• Merchant specific images are stored securely using Firebase storage.<br></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="blog_post">
                    <a href="../assets/image/apps/iphone_tips_img_2.jpeg" class="post_img image_b light_popup"><img src="../assets/image/apps/iphone_tips_img_thumb.jpeg" alt=""></a>
                    <div class="blog_content">
                      <h5>iPhone Tips & Tricks</h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://github.com/kimonio">Source Code</a></li>
                      </ul>
                      <p>
                        <span>• Featured in New York Times and downloaded 3.1 million times.<br></span>
                        <span>• Allow you to share your favorite tips via email, SMS, Facebook or Twitter.<br></span>
                        <span>• Developed in Objective-C and iOS SDK.<br></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
