<!--Start personal_porfolio-->
<div class="main-container">
  <section class="personal_porfolio wrapper">
    <div class="container custom_container align-self-center fadeInOnLoad">
      <div class="main_box animation_bottom">
        <div id="boxscroll" class="p_home">
          <div class="por_details section_pad">
            <div class="portfolio">
              <div class="main_title">
                <h2>Portfolio</h2>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="blog_post">
                    <a href="https://www.youtube.com/embed/YcpnJwiqw9o?autoplay=true" class="lightBoxVideoLink post_img image_b"><img src="../assets/image/apps/fr_mobile_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5>Mobile App for Fun Rewards</h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://funrewards.com">https://funrewards.com</a></li>
                      </ul>
                      <p>
                        <span><span class="large-bullet">◦</span> Developed in Javascript using Ionic 3 & Angular 4 frameworks.<br></span>
                        <span><span class="large-bullet">◦</span> Email based authentication implemented using Firebase.<br></span>
                        <span><span class="large-bullet">◦</span> Scratch and win game developed using HTML5 Canvas and event handling for various touch events.<br></span>
                        <span><span class="large-bullet">◦</span> Push notifications integrated using One Signal API.<br></span>
                        <span><span class="large-bullet">◦</span> Customer actions are recorded through a REST API built with NodeJS and the Express framework.<br></span>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="blog_post">
                    <a href="https://firebasestorage.googleapis.com/v0/b/resume-8991c.appspot.com/o/fun_rewards_merchant.gif?alt=media&token=a503ca16-2bfc-4a32-a56d-d4447077f657" class="post_img image_b light_popup"><img src="../assets/image/apps/merchant_thumb.png" alt=""></a>
                    <div class="blog_content">
                      <h5>Merchant Portal for Fun Rewards</h5>
                      <ul class="post_meta list_style">
                        <li><a href="https://funrewards.com">https://funrewards.com</a></li>
                      </ul>
                      <p>
                        <span><span class="large-bullet">◦</span> Merchant portal developed in Javascript using Firebase, NodeJS and MongoDB on the backend.<br></span>
                        <span><span class="large-bullet">◦</span> Charts for analytics developed using Chartist.JS.<br></span>
                        <span><span class="large-bullet">◦</span> Analytics performed using MongoDB Aggregation framework.<br></span>
                        <span><span class="large-bullet">◦</span> Merchant specific images are stored securely using Firebase storage.<br></span>
                      </p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
