<!-- Start Header-->
<div class="background background_two">
  <div id="particles-js"></div>
</div>

<header class="header">
  <div class="container custom_container">
    <nav class="navbar navbar_two navbar-expand-lg navbar-light">
      <div class="c_left_col">
        <div class="left_container blue_bg">
          <a class="navbar-brand" href="#"><img class="no-logo" src="../assets/image/logo.png" alt="logo"></a>
        </div>
      </div>
      <div class="c_right_col">
        <div class="right_container">
          <button class="navbar-toggler" type="button" data-toggle="collapse"
                  data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
              <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="home">Home</a>
              </li>
              <li class="nav-item dropdown submenu" [routerLinkActive]="['active']">
                <a class="nav-link dropdown-toggle" routerLink="resume" id="dropdownMenuLink" role="button"
                   data-toggle="dropdown disabled" aria-haspopup="true" aria-expanded="false">
                  Resume
                </a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <li><a class="dropdown-item" [routerLink]="['resume', {section: 'achievements'}]">Achievements</a></li>
                  <li><a class="dropdown-item" [routerLink]="['resume', {section: 'experience'}]">Work Experience</a></li>
                  <li><a class="dropdown-item" [routerLink]="['resume', {section: 'education'}]">Education</a></li>
                  <li><a class="dropdown-item" [routerLink]="['resume', {section: 'skills'}]">Skills</a></li>
                </ul>
              </li>
              <li class="nav-item" [routerLinkActive]="['active']">
                <a class="nav-link" routerLink="portfolio">portfolio</a>
              </li>
              <!--<li class="nav-item" [routerLinkActive]="['active']">-->
                <!--<a class="nav-link" routerLink="contact">contact</a>-->
              <!--</li>-->
            </ul>
            <ul class="nav justify-content-end social-icon icon_white">
              <li><a href="https://www.linkedin.com/in/antoniocunanan"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="https://www.facebook.com/antonio.cunanan"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://twitter.com/kimonio"><i class="fa fa-twitter"></i></a></li>
              <li><a href="https://github.com/kimonio"><i class="fa fa-github"></i></a></li>
              <li><a href="https://www.instagram.com/kimonio"><i class="fa fa-instagram"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>
</header>
<!-- End Header-->

<router-outlet></router-outlet>

<footer class="footer_area">
  <div class="container custom_container">
    <div class="c_left_col">
      <div class="footer-copyright text-white">© {{ getCurrentYear() }}, <a class="text-white" href="index.html">Antonio
        Cunanan</a>
      </div>
    </div>
    <div class="c_right_col"></div>
  </div>
</footer>

