
.p_home {
  height: calc(100vh - 370px);
}

.profile_img_two .personal {
  box-shadow: 0px 2px 27px 0px white;
  width: 500px;
  height: 500px;
}

@media (max-width: 1550px) {
  .profile_img_two .personal {
    height: 350px;
    width: 350px;
  }

  .personal_content h3 {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

@media (min-width: 1550px) {
  .p_home .profile_img {
    height: 100%;
  }

  .personal_content h3 {
    padding-bottom: 15px;
    margin-bottom: 25px;
  }
}

.profile_img_two .personal {
  background-color: white;
}

.certification-badge {
  width: 120px;
  margin-right: 10px;
}
