<!--Start personal_porfolio-->
<div class="main-container">
  <section class="personal_porfolio wrapper">
    <div class="container custom_container align-self-center fadeInOnLoad">
      <div class="main_box ext-box">
        <div class="p_home animation_bottom display-flex int-box" id="boxscroll">
          <div class="por_details ">
            <div class="row m0">
              <div class="left_site p0">
                <div class="profile_img profile_img_four int-box">
                  <div class="personal">
                    <img class="" src="../assets/image/avatar.png" alt="">
                  </div>
                </div>
              </div>
              <div class="right_site content_area">
                <div class="personal_content personal_content_two align-self-center">
                  <h2 class="p_t">Antonio Cunanan</h2>
                  <h3>Full Stack Software Engineer</h3>
                  <ul class="personal-info-list list_style">
                    <li>
                      <span class="title">Location</span>
                      <span class="value">Richardson, Texas</span>
                    </li>
                    <li>
                      <span class="title">Email</span>
                      <span class="value"><a href="mailto:antonio.cunanan@gmail.com"
                                             target="_self">antonio.cunanan@gmail.com</a></span>
                    </li>
                  </ul>
                  <a href="#" class="btn download_btn">Download CV</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
