<!--Start personal_porfolio-->
<div class="main-container">
  <section class="personal_porfolio wrapper">
    <div class="container custom_container align-self-center fadeInOnLoad">
      <div class="main_box ext-box">
        <div class="p_home animation_bottom display-flex int-box" id="boxscroll">
          <div class="por_details">
            <div class="row m0">
              <div class="left_site p0">
                <div class="profile_img profile_img_two">
                  <div class="personal">
                    <img class="" src="{{ homeContent.profile_img_url }}" alt="">
                  </div>
                </div>
              </div>
              <div class="right_site content_area">
                <div class="personal_content personal_content_two align-self-center">
                  <h2 class="p_t">{{ homeContent.name }} </h2>
                  <h3>{{ homeContent.title }}
                    <div>
                      <a href="https://www.youracclaim.com/badges/d79328e4-a3b5-447c-bacd-161ffc6b0be2/public_url"><img
                        class="certification-badge" src="../assets/image/badges/ccie.png" alt=""></a>
                      <a href="https://www.youracclaim.com/badges/9cb7765f-8193-4541-a73c-62ed609b0ebf/public_url"><img
                        class="certification-badge" src="../assets/image/badges/ccdp.png" alt=""></a>
                    </div>
                  </h3>
                  <div data-iframe-width="150" data-iframe-height="270"
                       data-share-badge-id="d79328e4-a3b5-447c-bacd-161ffc6b0be2"></div>
                  <a href="../assets/data/CV_Antonio_Cunanan_2018_n.pdf" class="btn download_btn">Download CV</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
